{{>layouts/header}}

{{#article}}
<form action="/articles/update" method="post">
	<input type="hidden" name="id" value="{{id}}">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">제목</label>
    <input name="title" value="{{title}}" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">내용</label>
    <textarea name="content" class="form-control" id="exampleInputPassword1">{{content}}</textarea>
  </div>  
  <button type="submit" class="btn btn-primary">수정</button>  
  <a href="/articles/{{article.id}}" class="btn">돌아가기</a>
</form>
{{/article}}

{{>layouts/footer}}